.a
{
    width:1000px;
    margin:auto;
}
.b
{
    margin-top: 20px;
    width:100%;
    height:50px;
    border:1px solid black;
    border-bottom:5px solid orange;
    background: blue;
    box-shadow: black 2px 2px 4px 2px;
}
.b ul
{
    margin: 0px;
    padding: 0px;
}
.b ul li
{
    list-style: none;
}
.b ul li a
{
    display: block;
    padding: 10px;
    background: blue;
    float: right;
    height: 30px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-decoration: none;
    color: white;
   
}
.b ul li a:hover
{
    background: red;
    border-left: 1px solid greenyellow;
    border-right: 1px solid greenyellow;
    box-shadow: white 5px 5px 5px 5px;
}